.header {
    margin: 10px 100px;
}

.header__container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.header__container-profile {
    width: 40%;
    border-radius: 50%;
    border: 3px solid var(--color__gray);
    margin: 30px 0;
}

.header__container-title {
    color: var(--color__gray-strong);
    font-size: 1.5em;
    margin-bottom: 1em;
}

.header__container-info {
    font-weight: 300;
    color: var(--color__gray);
    margin-bottom: 1em;
}

.header__container-btn {
    display: flex;
    justify-content: space-between;
}

.header__container-buttons {
    font-size: .8em;
    text-decoration: none;
    color: var(--color__gray-strong);
    font-weight: 700;
    padding: 5px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .header__container-profile {
        width: 30%;
    }

    .header__container-content {
        flex-direction: row-reverse;
    }

}

@media screen and (min-width:1024px) {

    /*** ESTILOS BOTÓN SLIDE LEFT ***/
    .header__container-buttons {
        width: 150px;
        gap: 10px;
        font-size: 1em;
        padding: 10px;
        /* -------------- */

        /* background: #fff; */
        /* color de fondo */
        color: var(--color__gray-strong);
        /* color de fuente */
        /* border: 2px solid #4741d7; */
        /* tamaño y color de borde */
        /* padding: 16px 20px; */
        border-radius: 3px;
        /* redondear bordes */
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: inline-block;
    }

    /* .git-hub{
            background: violet;
        } */
    .git-hub:hover,
    .linkedin:hover,
    .instagram:hover,
    .curriculum:hover {
        color: var(--color__white);
    }

    /* .header__container-buttons:hover {
            color: #fff;
        } */

    /* .header__container-buttons::after {
            content: "";
            background: #4741d7;
            position: absolute;
            z-index: -1;
            padding: 16px 20px;
            display: block;
            top: 0;
            bottom: 0;
            left: -100%;
            right: 100%;
            -webkit-transition: all 0.35s;
            transition: all 0.35s;
        } */
    .git-hub::after {
        content: "";
        background: var(--color__dark-github);
        position: absolute;
        z-index: -1;
        padding: 16px 20px;
        display: block;
        top: 0;
        bottom: 0;
        left: -100%;
        right: 100%;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
    }

    .git-hub:hover::after {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
    }

    /* linkedin */

    .linkedin::after {
        content: "";
        background: var(--color__linkedin);
        position: absolute;
        z-index: -1;
        padding: 16px 20px;
        display: block;
        top: 0;
        bottom: 0;
        left: -100%;
        right: 100%;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
    }

    .linkedin:hover:after {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
    }

    /* instagram */

    .instagram::after {
        content: "";
        background: var(--color__instagram);
        position: absolute;
        z-index: -1;
        padding: 16px 20px;
        display: block;
        top: 0;
        bottom: 0;
        left: -100%;
        right: 100%;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
    }

    .instagram:hover:after {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
    }

    /* curriculum  */

    .curriculum::after {
        content: "";
        background: var(--color__gray);
        position: absolute;
        z-index: -1;
        padding: 16px 20px;
        display: block;
        top: 0;
        bottom: 0;
        left: -100%;
        right: 100%;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
    }

    .curriculum:hover:after {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
    }


    /* .header__container-buttons:hover::after {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            -webkit-transition: all 0.35s;
            transition: all 0.35s;
        } */

}