.section__experiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.section__experiencia-title {
    color: var(--color__gray);
    margin-bottom: 1em;
}

.section__experiencia-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 2em;
    gap: 30px;
}

.section__experiencia-projects {
    width: 100%;

}

.section__experiencia-img {
    width: 100%;
    margin-bottom: .8em;
    -webkit-box-shadow: 0px 6px 23px -8px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 6px 23px -8px rgba(0, 0, 0, 1);
    box-shadow: 0px 6px 23px -8px rgba(0, 0, 0, 1);
}

.section__experiencia-titleProject {
    color: var(--color__gray-strong);
    margin-bottom: .8em;
}

.section__experiencia-descriptionProject {
    font-size: .9em;
    font-weight: 300;
    color: var(--color__gray);
    margin-bottom: .8em;
}

.section__btn-links {
    display: flex;
    gap: 1em;
}

.btn {
    padding: 15px;
    /* width: 30%; */
    border: 2px solid var(--color__green-strong);
    font-weight: 700;
    text-decoration: none;
    color: var(--color__green-strong);
}

.section__verDemo {
    background-color: var(--color__green-strong);
    color: var(--color__white);
    transition: all .5s ease;
    border: none;
}

.section__verDemo:hover {
    cursor: pointer;
    background-color: var(--color__green-ligth2);
}

@media screen and (min-width:1024px) {

    .section__experiencia-container {
        width: 100%;
        flex-direction: row;
        /* flex-wrap: wrap; */
        justify-content: flex-start;
        padding-left: 5%;
        /* gap: 20px; */
    }

    .section__experiencia-projects {
        width: 30%;
        /* border: 1px solid; */
    }

    .section__btn-links {
        /* justify-content: center; */
    }

    /* .section__experiencia-img{
        width: 40%;
    } */
}