.header__linksa {
    display: none;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid var(--color__green-strong);
    padding-bottom: 10px;
}

.header__logo-link {
    display: flex;
    align-items: center;
    font-size: .9em;
    text-decoration: none;
    justify-content: center;
    color: var(--color__gray);
}

.header__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: .5em;
    border: 2px solid;
    border-radius: 50%;
}

.header__logo-icon {
    font-size: 30px;
}

@media screen and (min-width: 1024px) {
    .header__link{
        display: none;
    }

    .header__linksa{
        display: flex;
    }

    .header__logo-link {
        color: var(--color__green-strong);
    }
    
    .header__linksa--nav{
        width: 120px;
        text-align: center;
        text-decoration: none;
        color: var(--color__green-strong);
        font-weight: 700;
        /* background-color: aqua; */
        padding: 15px;
        transition: all .5s ease-out;
    }
    .header__linksa--nav:hover{
        background-color: var(--color__green-strong);
        color: var(--color__white);
    }
}