.section__contacto {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: var(--color__background-contact);
    gap: 30px;
}

.section__contacto-img{
    display: none;
}

.section__contacto-form {
    display: flex;
    flex-direction: column;
    /* padding: 0.75em; */
    width: 90%;
    /* align-items: s; */
}

.section__contacto-title {
    text-align: center;
    margin-bottom: 1em;
    color: var(--color__gray-strong);
}

.section__contacto-description {
    color: var(--color__gray);
    margin-bottom: 0.75em;
}

.form-group {
    position: relative;
    margin-bottom: 1em;
    display: flex;
    /* justify-content: center; */
}

.form-group label {
    position: absolute;
    top: .75em;
    left: 1em;
    font-size: 1em;
    color: #777;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.form-group input:focus+label,
.form-group input:not(:placeholder-shown)+label {
    top: 0;
    left: 1em;
    font-size: 0.75em;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    font-size: 1em;
    transition: all 0.3s ease-in-out;
    border: none;
    border-bottom: 1px solid var(--color__gray);
    outline: none;
}

/* .input-text{
    border: none;
    border-bottom: 2px solid var(--color__gray);
    outline: none;
} */

.form-group textarea:focus+label,
.form-group textarea:not(:placeholder-shown)+label {
    top: 0;
    left: 1em;
    font-size: 0.75em;
    color: #333;
}

.form-group textarea {
    border: none;
    border-bottom: 1px solid var(--color__gray);
    outline: none;
    width: 100%;
    padding: 0.75em;
    border-radius: 0.25em;
    font-size: 1em;
    transition: all 0.3s ease-in-out;
    resize: none;
}

.section__contacto-btn {
    width: 100%;
    padding: 1em 0;
    background-color: var(--color__green-strong);
    margin-bottom: 1em;
    border: none;
    outline: none;
    font-family: --font__raleway;
    font-size: 1em;
    font-weight: 700;
    color: var(--color__white);
    transition: all .5s ease;
}
.section__contacto-btn:hover {
    cursor: pointer;
    background-color: var(--color__green-ligth2);
}

@media screen and (min-width:1024px) {
    .section__contacto{
        padding: 20px 100px;
    }
    .section__contacto-img{
        display: block;
        width: 50%;
        /* background-image: var(--bg__contact); */
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../../img/undraw_delivery_address_re_cjca.svg');
    }

    .section__contacto-form{
        width: 50%;
    }
}